In [2]:
# import library to read/save text
from gtts import gTTS
import pandas as pd

In [5]:
# read the .csv in
df = pd.read_csv('./scratchpad/vocab.csv')

In [6]:
df.head()

  Portuguese    English  Audio     Tags
0         um    one (1)    NaN  numbers
1       dois    two (2)    NaN  numbers
2       três  three (3)    NaN  numbers
3     quatro   four (4)    NaN  numbers
4      cinco   five (5)    NaN  numbers

In [12]:
# test reading the first value
for index, row in df.sample(n=5).iterrows():
    print(row['Portuguese'])

número
importante
uma pessoa
uma mistura
segundo

In [32]:
def read_and_record(word, lang='pt', localization='com.br'):
    """Read each word and save the mp3 file in the correct location.
    Full localized accents can be found here:  
    https://gtts.readthedocs.io/en/latest/module.html#playing-sound-directly"""
    
    w = word
    tts = gTTS(w, lang='pt', tld='com.br')
    
    # replace all special characters before saving
    w = w.replace('/', '_')
    w = w.replace('?', '')
    w = w.replace('.', '_')
    w = w.replace(' ', '_')
    
    new_filename = w + '.mp3'
    
    tts.save('output_files/' + new_filename)
    
    return new_filename

In [47]:
# For each row on the spreadsheet.   Read the text, save the audio file.   Update the dataframe """
for index, row in df.head(n=3).iterrows():
    file_name = read_and_record(row['Portuguese'])
    df.loc[index, 'Audio'] = "[sound:{}]".format(file_name)
    # display(df[['Portuguese', 'English', 'Audio', 'Tags']])

    Portuguese    English             Audio        Tags
0           um    one (1)    [sound:um.mp3]     numbers
1         dois    two (2)  [sound:dois.mp3]     numbers
2         três  three (3)  [sound:três.mp3]     numbers
3       quatro   four (4)               NaN     numbers
4        cinco   five (5)               NaN     numbers
..         ...        ...               ...         ...
409       cara       dude               NaN       slang
410       tipo       like               NaN       slang
411    maneiro       cool               NaN       slang
412    caralho  shit/fuck               NaN  expletives
413       foda       fuck               NaN         NaN

[414 rows x 4 columns]

    Portuguese    English             Audio        Tags
0           um    one (1)    [sound:um.mp3]     numbers
1         dois    two (2)  [sound:dois.mp3]     numbers
2         três  three (3)  [sound:três.mp3]     numbers
3       quatro   four (4)               NaN     numbers
4        cinco   five (5)               NaN     numbers
..         ...        ...               ...         ...
409       cara       dude               NaN       slang
410       tipo       like               NaN       slang
411    maneiro       cool               NaN       slang
412    caralho  shit/fuck               NaN  expletives
413       foda       fuck               NaN         NaN

[414 rows x 4 columns]

    Portuguese    English             Audio        Tags
0           um    one (1)    [sound:um.mp3]     numbers
1         dois    two (2)  [sound:dois.mp3]     numbers
2         três  three (3)  [sound:três.mp3]     numbers
3       quatro   four (4)               NaN     numbers
4        cinco   five (5)               NaN     numbers
..         ...        ...               ...         ...
409       cara       dude               NaN       slang
410       tipo       like               NaN       slang
411    maneiro       cool               NaN       slang
412    caralho  shit/fuck               NaN  expletives
413       foda       fuck               NaN         NaN

[414 rows x 4 columns]

In [ ]:
# should ultimately save in

In [42]:
# preview the results
df.head()

  Portuguese    English             Audio     Tags
0         um    one (1)    [sound:um.mp3]  numbers
1       dois    two (2)  [sound:dois.mp3]  numbers
2       três  three (3)  [sound:três.mp3]  numbers
3     quatro   four (4)               NaN  numbers
4      cinco   five (5)               NaN  numbers